/*
    Index
    -------------------------------
    * Reset
    * Config
    * Header styles
    * Hero banner styles
    * Presentation section styles
    * Footer styles
    * Mobile breakpoint style
*/

/*
    * Reset
    -------------------------------
*/

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

ul {
    list-style: none;
    padding: 0;
}

/*
    * Config
    -------------------------------
*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-regular.ttf') format('ttf')
}

:root {
    --primary-color: #5B359D
}

body {
    font-family: Roboto, ui-sans-serif;
    color: #575757;
}

img {
    max-width: 100%;
    height: auto;
}


.container {
    max-width: 75rem; /* 1200 px pour une base de 16px */
    margin: 0 auto;
    padding: 1rem;
}

/*
    * Header styles
    -------------------------------
*/

.dynamic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: background-color, color;
    transition-duration: 0.3s;
    padding: 0;
}

.dynamic-header__logo img{
    max-height: 100px;
    transition: max-height 0.3s;
}

.dynamic-header__navigation ul {
    display: flex;
    gap: 1rem;
}

.dynamic-header .menu-toggler {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 4px 0;
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: none;
    border: none;
}

.dynamic-header .menu-toggler__bar {
    height: 2px;
    width: 100%;
    background: #575757;
    opacity: 1;
    transition: opacity 0.2s;
}

.dynamic-header--mobile-active .menu-toggler__bar {
    opacity: 0;
}

.menu-toggler::before,
.menu-toggler::after {
    opacity: 0;
    transition: opacity 0.3s;
}

.dynamic-header--mobile-active .menu-toggler::before,
.dynamic-header--mobile-active .menu-toggler::after {
    content: "";
    display: block;
    height: 2px;
    width: 50%;
    position: absolute;
    left: calc(50% - 8px);
    top: calc(70% - 8px);
    background: #575757;
    opacity: 1;
}

.dynamic-header--mobile-active .menu-toggler::before {
    transform: rotate(45deg);
}

.dynamic-header--mobile-active .menu-toggler::after {
    transform: rotate(-45deg);
}


/*
    * Hero banner styles
    -------------------------------
*/

.hero-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    min-height: 400px;
    background: url("../img/backgroung_image.jpg");
    background-size: cover;
}

.hero-banner__logo {
    height: 60px;
}

.hero-banner__title {
    font-weight: 400;
    color: #fff;
}

/*
    * Presentation section styles
    -------------------------------
*/

.presentation {
    max-width: 43rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    gap: 4rem;
    text-align: center;
}

.presentation__title {
    font-size: 1.2rem;
}

.services {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.services__item img {
    height: 60px;
    margin-bottom: 1rem;
}

.services__item h2 {
    margin-bottom: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
    color: #000;
}

.services__item p {
    font-size: calc(1rem / 1.5);
}

.testimonial__comment {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

span.testimonial__author {
    font-weight: 300;
}

/*
    * Footer styles
    -------------------------------
*/

footer.container {
    background: var(--primary-color);
    padding: 2rem 1rem;
    color: #fff;
}

.copy {
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 4rem 4rem;
    color: rgba(255, 255, 255, 0.66);
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.footer-widget {
    display: flex;
    justify-content: space-around;
}

.footer-widget  ul,
.footer-widget .location p {
    list-style: initial;
    margin-left: 2rem;
}

footer h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.66);
}

/*
    * Mobile breakpoint style
    -------------------------------
*/

@media all and (max-width: 560px) {
    /* Header styles on mobile */

    .dynamic-header__navigation {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -50vw;
        width: 50vw;
        background: #fff;
        transition: right 0.3s;
    }

    .dynamic-header__navigation ul {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        height: 100%;
        width: 100%;
        padding: 2rem;
    }

    .dynamic-header--mobile-active .dynamic-header__navigation {
        right: 0;
    }

    .dynamic-header__logo img {
        max-height: 60px;
    }

    .dynamic-header .menu-toggler {
       display: flex;
    }

    /* Presentation section styles */

    .services {
        flex-wrap: wrap;
    }

    /* Presentation section styles */

    .footer-widget {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        text-align: center;
    }

    .footer-widget ul, .footer-widget .location p {
        list-style: none;
        margin-left: 0;
    }

}