/* reset */

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}
/* config */

:root {
    --primary-color: #5B359D
}

body {
    font-family: Roboto, sans-serif;
    color: #575757;
}

img {
    max-width: 100%;
    height: auto;
}


.container {
    max-width: 75rem; /* 1200 px pour une base de 16px */
    margin: 0 auto;
    padding: 1rem;
}


/* header styles */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.site-header__logo img {
    max-height: 100px;
}

.site-header__navigation ul {
    display: flex;
    align-content: center;
    gap: 1rem;
    padding: 1rem;
}

/* Hero banner styles */

.hero-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    min-height: 400px;
    background: url("../img/backgroung_image.jpg");
    background-size: cover;
}

.hero-banner__logo {
    height: 60px;
}

.hero-banner__title {
    font-weight: 400;
    color: #fff;
}

/* Presentation section styles */

.presentation {
    max-width: 43rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    gap: 4rem;
    text-align: center;
}

.presentation__title {
    font-size: 1.2rem;
}

.services {
    display: flex;
    gap: 3rem;
}

.services__item img {
    height: 60px;
    margin-bottom: 1rem;
}

.services__item h2 {
    margin-bottom: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
    color: #000;
}

.services__item p {
    font-size: calc(1rem / 1.5);
}

.testimonial__comment {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

span.testimonial__author {
    font-weight: 300;
}


/* Footer styles */

footer.container {
    background: var(--primary-color);
    padding: 2rem 0;
    color: #fff;
}

.copy {
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 4rem 4rem;
    color: rgba(255, 255, 255, 0.66);
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.footer-widget {
    display: flex;
    justify-content: space-around;
}

.footer-widget  ul, .footer-widget .location p {
    list-style: initial;
    margin-left: 2rem;
}

footer h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.66);
}